*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading
{
  text-align: center;
}

.dataInput{
   margin-top: 1%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sizea,.sizeb{
    padding-top: 2%;
    width: 100vw;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.sizea input,.sizeb input{
  padding: 0.1%;
  width: 2vw;
}

.inputAB{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.data{
  width: 4vw;
}
.dataRow{
 width: max-content;
}

.atext,.btext{
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: max-content;
  padding: 3%;
  border-radius: 15px;
}

.calculate{
  margin-top: 1%;
  margin-left: 2%;
  width: 8vw;
}


.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.resultMatrix{
  display: flex;
  align-items: center;
  margin-top: 3%;
  border: none;
text-align: center;
font-size: 18px;

}


.output{

  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.outputrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.endSection{
  display: flex;
  gap: 15px;
}