*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading
{
  text-align: center;
}

.dataInput{
   margin-top: 1%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sizea,.sizeb{
    padding-top: 2%;
    width: 100vw;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.sizea input,.sizeb input{
  padding: 0.1%;
  width: 2vw;
}

.inputAB{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}




.calculate{
  margin-top: 1%;
  margin-left: 2%;
  width: 8vw;
}


.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.resultMatrix{
  display: flex;
  align-items: center;
  margin-top: 3%;
  border: none;
text-align: center;
font-size: 18px;
 overflow: hidden;
 height: auto;
 width: auto;
 resize: none;
}